/* reset */

* {
  margin: 0;
  padding: 0;
}

/* page structure */

html {
  border-style: solid;
  border-color: #333;
  border-width: 0;
}

body {
  max-width: 45em;
  margin: 2em;
}

body.fluid {
  max-width: none;
  width: auto;
}

.right {
  float: right;
}

section {
  margin-bottom: 2.667em;
}

body.fluid section {
  margin: -1em 3em 3em 0;
  width: 20em;
  float: left;
  vertical-align: top;
}

body.columns {
  width: auto;
  max-width: none;
}

body.columns .column {
  width: 37em;
  float: left;
}

body.columns .column:first-child {
  margin-top: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 1.666em;
}

/* text styling */

body {
  font-family: 'Arimo', sans-serif;
  line-height: 1.666em;
  font-size: 15px;
  color: #333;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.333em;
  font-size: 4em;
  margin-bottom: .667em;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  word-spacing: .3em;
  font-weight: 900;
  font-size: 1em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

h3 {
  margin-bottom: 0.889em;
  font-size: 1em;
}

p, p.offset {
  text-align: left;
  margin-bottom: 1.666em;
}

/* fancy text */

a, a.secret:hover {
  color: #009;
  text-decoration: underline;
}

a:visited, .toggleheader {
  color: #055;
  text-decoration: underline;
}

a.secret {
  color: #333;
  text-decoration: none;
}

.foreign {
  font-style: italic;
}

.ord {
  font-size: .8em;
  position: relative;
  bottom: .2em;
}

blockquote {
  margin: 1em 0 1em 2em;
  color: #555;
}

ul, ol {
  margin-bottom: 1em;
}

li {
  margin-bottom: .667em;
}

ul.nobullet li {
  margin-bottom: 1.667em;
}

ul {
  list-style-type: square;
}

ul.nobullet {
  list-style-type: none;
}

.footnotes {
  margin-top: 3em;
}

.footnotes p {
  display: inline;
}

.footnotes li {
  margin-bottom: 1em;
}

.footnotes a[rev='footnote'] {
  text-decoration: none;
}

.essay p sup {
  vertical-align: bottom;
  position: relative;
  bottom: .5em;
}

.essay a[rel='footnote'] {
  text-decoration: none;
  border: 1px dotted;
  padding: 0 .2em;
  margin-left: .2em;
}

.essay a[rel='footnote']:link {
  border-color: #009;
}

.essay a[rel='foontote']:visited {
  border-color: #055;
}

/* multimedia */

.gallery img, .essay iframe {
  outline: .25em solid #333;
  margin-bottom: 1.667em;
  max-width: 100%;
}

.essay img, .essay img.inline {
  outline: 2px solid #333;
  float: none;
  width: 100%;
  margin-bottom: 2em;
}

.essay .margin {
  width: 50%;
  float: right;
  margin-left: 10%;
}

@media only screen and (min-width: 1300px) {
  .essay img, .essay .margin {
    float: right;
    width: 28em;
    margin: 0 -34em 0 0;
  }

  img.inline + img {
    margin-top: 2em;
  }

  body {
    width: 45em;
    margin: 5em;
  }
}

code {
  background: #eee;
  padding: 0 .2em;
}

div.highlight pre {
  font-size: .8em;
  padding: .667em;
  margin: .667em -.667em;
  background: #eee;
}

pre code {
  background: transparent;
  padding: 0;
}

/* publications */

.papertitle {
  text-decoration: underline;
  display: block;
}

.paperinfo {
  color: #666;
}

/* navigation elements */

.links a {
  margin-right: .5em;
}

p.backlinks {
  text-align: right;
  margin-top: 1.5em;
  clear: both;
}

.togglemarker {
  position: relative;
  top: -.1em;
}

.collapse.indented {
  border-left: 1px solid #333;
  padding-left: 1em;
}

.postmeta {
  font-style: italic;
  margin-top: 1em;
  color: #666;
}
