* {
  margin: 0;
  padding: 0;
}

body {
  /*background: url(../images/bg.png) rgb(246,246,246);*/
  font-family: 'Arimo', sans-serif;
  line-height: 1.666em;
  width: 45em;
  margin: 5em auto;
  font-size: 15px;
  color: #333;
}

body * {
  text-rendering: optimizeLegibility;
}

img {
  max-width:  100%;
}

/*html {
  border-style: solid;
  border-color: #000;
  border-width: 10px 0 5px 0;
}*/

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 900;
}

h1 {
  line-height: 1.333em;
  font-size: 4em;
  margin-bottom: .667em;
}

h1.name {
  font-size: 4em;
}

h2 {
  font-size: 1.1em;
  line-height: 1em;
  margin: 1.333em 0;
  /*font-variant: small-caps;*/
  text-transform: uppercase;
  word-spacing: 0.3em;
}

h3 {
  /*font-size: 1.125em;
  line-height: 1.333em;*/
  margin: 0.889em 0;
}

ul {
  list-style-type: square;
  margin: 1em 0;
}

ul.nobullet {
  list-style-type: none;
}

section {
  margin: 3em 0;
}

p {
  text-align: left;
}

p + p {
  text-indent: 1em;
}

#links {
  margin-top: 0;
}

p.offset {
  text-indent: 0;
  margin-top: 1.5em;
}

#quote {
  display: none;
}

#quote table {
  margin-left: auto;
}

#quote table td {
  width: 1em;
  vertical-align: top;
  line-height: 1em;
}

a {
  color: #009;
}

a:visited {
  color: #055;
}

pre {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.9em;
  line-height: 1.8em;
  padding: .5em;
  margin: .5em 0;
  border: 2px solid #000;
}

.date {
  width: 0;
  position: absolute;
  margin-left: -4em;
  font-size: .8em;
}

ul.projects {
  list-style-type: none;
}

ul li, ol li {
  margin-bottom: .667em;
  /*line-height: 1.333em;*/
}

object {
  margin: 2em 0;
}

#about p.links img {
  vertical-align: bottom;
  position: relative;
  top: -.2em;
}

#about p.links a {
  margin: 0 .5em 0 0;
}

#about p.links span a {
  margin: 0 0 0 .5em;
}

.right {
  float: right;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.footnotes p {
  display: inline;
}

.footnotes li {
  margin-bottom: 1em;
}

.footnotes a[rev='footnote'] {
  text-decoration: none;
}

.essay sup {
  font-size: 1em;
  top: 0;
}

.essay sup a {
  text-decoration: none;
}

.essay sup a:before {
  content: ' [';
}

.essay sup a:after {
  content: ']';
}

.essay img {
  outline: 3px solid #000;
  margin: 1.666em 0;
}

p.backlinks {
  text-align: right;
  text-indent: 0;
  margin-top: 1em;
}

@-webkit-keyframes blink-animation {
  0% { opacity: .25; }
  15% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
}

@-moz-keyframes blink-animation {
  0% { opacity: .25; }
  15% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
}

.blink {
  -webkit-animation-name: blink-animation;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2.5s;
  -moz-animation-name: blink-animation;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 2.5s;
}

.papertitle {
  text-decoration: underline;
  display: block;
}

.paperinfo {
  color: #666;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }

.highlight {
  padding: 1px 1em;
  background: #eee;
  margin: -1px -1em;
}

.togglemarker {
  position: relative;
  top: -.1em;
}

.postmeta {
  text-indent: 0;
  font-style: italic;
  margin-top: 1em;
}

.foreign {
  font-style: italic;
}

.ord {
  font-size: .8em;
  position: relative;
  bottom: .2em;
}

.footnotes {
  margin-top: 3em;
}

.sta {
  font-weight: bold;
  margin-top: 1em;
  text-indent: 0;
}

.exp {
  font-style: italic;
  text-indent: 0;
}

.rmk:before {
  content: 'Rmk ';
  font-weight: bold;
}

.rmk {
  margin-top: 1em;
  text-indent: 0;
}

.ex:before {
  content: 'Ex ';
  font-weight: bold;
}

.ex {
  margin-top: 1em;
  text-indent: 0;
}
