---
title : Writing
layout : index
catmap :
  school : School
  reading : Reading
  food : Food
  misc : Miscellaneous
---

{% for pair in page.catmap %}
  {% assign raw_category = pair[0] %}
  {% assign pretty_category = pair[1] %}
  {% assign category_posts = site.categories[raw_category] %}
<h2>{{ pretty_category }}</h2>
<ul>
  {% for post in category_posts %}
    <li><a href='{{ site.BASE_PATH }}{{ post.url }}'>{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<h2>Elsewhere</h2>
<ul>
  <li><a href="http://www.columbiaspectator.com/2012/04/10/numerically-human">
    Numeracy and the Core</a></li>
  <li><a href="http://bwog.com/2012/05/02/senior-wisdom-jacob-andreas/">
    Bwog Senior Wisdom</a></li>
</ul>
