---
title:  Writing
layout: index
cat_order: [school, misc, reading, food]
cat_names:
  school:    College Days
  misc:      Uncategorizable
  reading:   The Bookshelf
  food:      The Pantry
---

<h2>Churchill Letters</h2>
<div class='collapse highlight'>
  <h3>Overture</h3>
  <ul class='nobullet'>
    <li><a href='{{ site.BASE_PATH }}/churchill/island.html'>Island</a></li>
  </ul>
  <h3>Michaelmas</h3>
  <ul class='nobullet'>
    <li><a href='{{ site.BASE_PATH }}/churchill/storeys-end.html'>The House at
      Storey's End</a></li>
    <li><a href='{{ site.BASE_PATH }}/churchill/city-centre.html'>City
      Centre</a></li>
    <li><a href='{{ site.BASE_PATH }}/churchill/gunpowder-plot.html'>Gunpowder
      Plot</a></li>
    <li><a href='{{ site.BASE_PATH }}/churchill/london.html'>City of
      London</a></li>
    <li><a href='{{ site.BASE_PATH }}/churchill/vocame.html'>Vocame cum
      Benedictis</a></li>
  </ul>
  <!--<h3>Interval (Christmas)</h3>
  <h3>Lent</h3>
  <h3>Interval (Spring)</h3>
  <h3>Easter</h3>
  <h3>Finale (Summer)</h3>-->
</div>

{% for raw_category in page.cat_order %}
  {% assign pretty_category = page.cat_names[raw_category] %}
  {% assign category_posts = site.categories[raw_category] %}
<h2>{{ pretty_category }}</h2>
<ul class='nobullet'>
  {% for post in category_posts %}
    <li><a href='{{ site.BASE_PATH }}{{ post.url }}'>{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<h2>Elsewhere</h2>
<ul class='nobullet'>
  <li><a href="http://www.columbiaspectator.com/2012/04/10/numerically-human">
    Numeracy and the Core</a></li>
  <li><a href="http://bwog.com/2012/05/02/senior-wisdom-jacob-andreas/">
    Bwog Senior Wisdom</a></li>
</ul>
