<html>

  <head>
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900' 
      rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arimo'
      rel='stylesheet' type='text/css' />
    <link href='{{ site.BASE_PATH }}/css/style.css' rel='stylesheet' 
      type='text/css' />
  </head>

  <body class='essay'>

<h1>{{page.title}}</h1>
{{content}}

<p class='postmeta'>&mdash; {{ page.date | date: "%d %B %Y" }}</p>
<p class='backlinks'>&larr; <a href='{{ site.BASE_PATH }}'>writing</a></p>

  </body>

</html>
