<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900' 
    rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arimo'
    rel='stylesheet' type='text/css' />
    <link href='{{ site.baseurl }}/css/style.css' rel='stylesheet' 
      type='text/css' />
    <link href='{{ site.baseurl }}/css/syntax.css' rel='stylesheet'
      type='text/css' />
    <link rel='shortcut icon' href='/writing/favicon.ico' type='image/x-icon' />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$$','$$']],
                  displayMath: [['\\[', '\\]']]}
      });
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('body').append($('.footnotes'));
      });
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2625914-8']);
      _gaq.push(['_setDomainName', 'text.jacobandreas.net']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style type='text/css'>
      /*html { border-left: 1em solid #ccc; }
      body { background: #eee }*/
    </style>
  </head>

  <body class='essay'>

<h1>{{page.title}}</h1>
{{content}}

<p class='postmeta'>&mdash; {{ page.date | date: "%e %B %Y" }}</p>
<p class='backlinks'>&larr; 
  <!--{% if page.categories contains 'churchill' %}
    <a href='{{ site.baseurl }}/journals.html'>journals</a>,
  {% endif %}-->
  <a href='{{ site.baseurl }}/'>text</a>,
  <a href='http://jacobandreas.net'>home</a>
</p>

  </body>

</html>
