<html>
  <head>
    <title>{{page.title}} | Jacob Andreas</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900' 
      rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arimo'
      rel='stylesheet' type='text/css' />
    <link href='{{ site.BASE_PATH }}/css/style.css' rel='stylesheet' 
      type='text/css' />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2625914-8']);
      _gaq.push(['_setDomainName', 'jacobandreas.net']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1 class='name'>{{page.title}}</h1>
{{ content }}
  </body>
</html>
